# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
**/*.egg-info/
dist/

# Example build package
build/
example/_build/
example/target/
example/logs/

# Sphinx documentation
docs/_build/
.idea/
test/
