[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
cython = ">=0.29"
pyinstaller = ">=4.0"
click = ">=7.1"
pyyaml = ">=5.3"

[requires]
python_version = ">=3.7"
